* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px auto 300px 300px;
    gap: 10px;
}

.container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 67, 46);
}

.nav {
    height: 80px;
    background-color: rgb(89, 121, 121);
    grid-column-start: 1;
    grid-column-end: 9;
    display: inline-block;
}

.logo {
    width: auto;
    height: 70px;
    float: left;
}

.nav a {
    color: #dfc8c8;
    padding: 14px 16px;
    float: none;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    background-color:darkslateblue;
}

.header {
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 9;
}

.content-1 {
    background-color: khaki;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content-2 {
    background-color: lawngreen;
    grid-column-start: 3;
    grid-column-end: 5;
}

.content-3 {
    background-color: plum;
    grid-column-start: 5;
    grid-column-end: 7;
}

.content-4 {
    background-color: mediumslateblue;
    grid-column-start: 7;
    grid-column-end: 9;
}

.main {
    background-color: rgb(77, 97, 184);
    grid-column-start: 1;
    grid-column-end: 9;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .content-1,
    .content-2,
    .content-3,
    .content-4 {
        grid-column-start: 1;
        grid-column-end: 9;
    }
  }

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .content-1,
    .content-3 {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .content-2,
    .content-4 {
        grid-column-start: 5;
        grid-column-end: 9;
    }
    }

    /* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
    .header {
      height: 400px;
    }
    }

    /* Mobile nav bar */
    @media screen and (max-width: 600px) {
        .nav a:not(:first-child) {display: none;}
        .nav{
            float: left;
            display: block;
        }
        .nav a {
            padding: 6px 8px;
        }
    }

    /* Font Styles */
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap);
 body{
   font-family:'Noto Sans KR';
 }