* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: auto;
}

.page {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px auto 300px 300px;
    gap: 10px;
}

.container {
    width: 100%;
    background-color: rgb(83, 67, 46);
}

.nav {
    height: fit-content;
    z-index: 1;
    background-color: rgb(242, 238, 203);
    grid-column-start: 1;
    grid-column-end: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    height: 80px;
    padding: 5px 20px;
}

.nav-button {
    position: absolute;
    top: 16px;
    right: 10px;
    display: none;
    border: none;
    background-color:transparent
}

.nav-links {
    display: block;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: azure;
    padding: 1rem;
    display: block;
}

.header {
    height: 300px;
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 9;
}

.content-1 {
    height: 300px;
    background-color: khaki;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content-2 {
    height: 300px;
    background-color: lawngreen;
    grid-column-start: 3;
    grid-column-end: 5;
}

.content-3 {
    height: 300px;
    background-color: plum;
    grid-column-start: 5;
    grid-column-end: 7;
}

.content-4 {
    height: 300px;
    background-color: mediumslateblue;
    grid-column-start: 7;
    grid-column-end: 9;
}

.main {
    height: 300px;
    background-color: rgb(77, 97, 184);
    grid-column-start: 1;
    grid-column-end: 9;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .content-1,
    .content-2,
    .content-3,
    .content-4 {
        grid-column-start: 1;
        grid-column-end: 9;
    }
  }

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .content-1,
    .content-3 {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .content-2,
    .content-4 {
        grid-column-start: 5;
        grid-column-end: 9;
    }
    }

    /* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
    .header {
      height: 400px;
    }
    }

    /* Mobile nav bar */
@media screen and (max-width: 905px) {
    .nav {
        min-height: 80px;
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav-button {
        position: absolute;
        left: 10px;
        display: block;
        width: 48px;
    }
    .nav-links {
        display: none;
        margin-top: 80px;
    }
    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }
    }

    /* Font Styles */
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap);
 body{
   font-family:'Noto Sans KR';
 }