* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: auto;
    width: 100%;
}

.page {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px auto 300px 300px;
    gap: 10px;
}

.container {
    width: 100%;
    background-color: rgb(83, 67, 46);
}

.nav {
    height: fit-content;
    z-index: 1;
    background-color: rgb(242, 238, 203);
    grid-column-start: 1;
    grid-column-end: 9;
}

.nav-wrap {
    display: flex;
}

.nav-btn {
    display: none;
}

.logo {
    margin: 5px 10px;
    height: 80px;
}

.nav-links {
    display: flex;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links li {
    float: left;
    padding: 1rem;
}

.nav-links li a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.header {
    height: 300px;
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 9;
}

.content-1 {
    height: 300px;
    background-color: khaki;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content-2 {
    height: 300px;
    background-color: lawngreen;
    grid-column-start: 3;
    grid-column-end: 5;
}

.content-3 {
    height: 300px;
    background-color: plum;
    grid-column-start: 5;
    grid-column-end: 7;
}

.content-4 {
    height: 300px;
    background-color: mediumslateblue;
    grid-column-start: 7;
    grid-column-end: 9;
}

.main {
    height: 300px;
    background-color: rgb(77, 97, 184);
    grid-column-start: 1;
    grid-column-end: 9;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .content-1,
    .content-2,
    .content-3,
    .content-4 {
        grid-column-start: 1;
        grid-column-end: 9;
    }
  }

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .content-1,
    .content-3 {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .content-2,
    .content-4 {
        grid-column-start: 5;
        grid-column-end: 9;
    }
    }

    /* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
    .header {
      height: 400px;
    }
    }

    /* Mobile nav bar */
@media screen and (max-width: 905px) {
    }

    /* Font Styles */
@font-face {
    font-family: "coffee";
    src: url(fonts/kenyan_coffee_sb.ttf);
}